name: Build Flet APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install "flet[all]"
          pip install requests flet-charts

      - name: Build APK
        # כאן אנחנו אומרים לו להיכנס לתיקייה Takziv2 לפני הרצת הפקודה
        working-directory: ./Takziv2
        run: |
          flet build apk --module-name main

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          # כאן אנחנו אומרים לו לחפש את ה-APK שנוצר בתוך התיקייה
          path: Takziv2/build/apk/*.apk
