name: Build Flet APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install "flet[all]"
          pip install requests flet-charts

      - name: Build APK
        run: |
          # מחפש את התיקייה שבה נמצא הקוד ומבצע את הבנייה משם
          FILE_PATH=$(find . -name "main.py" -print -quit)
          FILE_DIR=$(dirname "$FILE_PATH")
          cd "$FILE_DIR"
          
          # יצירת קובץ דרישות זמני כדי לוודא ש-Flet אורז הכל לתוך ה-APK
          echo "requests" > requirements.txt
          echo "flet-charts" >> requirements.txt
          
          # בניית ה-APK עם המודול והדרישות
          flet build apk --module-name main --requirements requirements.txt

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: "**/build/apk/*.apk"
